<%= form_with(model: x_ray, local: true) do |form| %>
  <% if x_ray.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(x_ray.errors.count, "error") %> prohibited this x_ray from being saved:</h2>

      <ul>
        <% x_ray.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :comments %>
    <%= form.text_field :comments %>
  </div>

  <div class="field">
    <%= form.label :paitent_id %>
    <%= form.text_field :paitent_id %>
  </div>

<%= form.file_field :image %>

<div class="field">
    <%= form.label :report_id %>
    <%= form.text_field :report_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
