<p id="notice"><%= notice %></p>

<h1>X Rays</h1>

<table>
  <thead>
    <tr>
      <th>Image url</th>
      <th>Paitent</th>
      <th>Labele</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @x_rays.each do |x_ray| %>
      <tr>
        <td><%= image_tag url_for(x_ray.image.variant(resize: "100x100")) %></td>
        <td><%= x_ray.paitent_id %></td>
        <td><%= x_ray.comments %></td>
        <td><%= link_to 'Show', x_ray %></td>
        <td><%= link_to 'Edit', edit_x_ray_path(x_ray) %></td>
        <td><%= link_to 'Destroy', x_ray, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New X Ray', new_x_ray_path %>
