<div style = "position: relative; left:100px; top:40px;">


<p id="notice"><%= notice %></p>

 Image:<%= image_tag url_for(@x_ray.image.variant(resize: "100x100"))%>
<p>
  <strong>Paitent:</strong>
  <%= @x_ray.paitent_id %>
</p>

<p>
  <strong>Labele:</strong>
  <%= @x_ray.comments %>
</p>

<%= link_to 'Edit', edit_x_ray_path(@x_ray) %> |
<%= link_to 'Back', x_rays_path %>

</div>