<p id="notice"><%= notice %></p>

<h1>Vists</h1>

<table>
  <thead>
    <tr>
      <th>P serial</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vists.each do |vist| %>
      <tr>
        <td><%= vist.p_serial %></td>
        <td><%= link_to 'Show', vist %></td>
        <td><%= link_to 'Edit', edit_vist_path(vist) %></td>
        <td><%= link_to 'Destroy', vist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vist', new_vist_path %>
