<p id="notice"><%= notice %></p>

<h1>Paitents</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Adress</th>
      <th>National</th>
      <th>Visits</th>
      <th>Mobile</th>
      <th>Gender</th>
      <th>Dob</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paitents.each do |paitent| %>
    <tr>
      <td><%= paitent.name %></td>
      <td><%= paitent.adress %></td>
      <td><%= paitent.National_id %></td>
      <td><%= paitent.visits_id %></td>
      <td><%= paitent.mobile %></td>
      <td><%= paitent.gender %></td>
      <td><%= paitent.dob %></td>
      <td><%= link_to 'Show', paitent %></td>
      <td><%= link_to 'Edit', edit_paitent_path(paitent) %></td>
      <td><%= link_to 'Destroy', paitent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New Paitent',  new_paitent_path if(receptionest_signed_in?) %>

<li class="nav-item">
  <%= link_to "Logout", (admin_signed_in?) ? destroy_admin_session_path : destroy_admin_session_path , method: :delete, class: "nav-link" %>
</li>