<div style = "position:relative; left:350px; top:250px; ">

<%= form_with(model: report, local: true, url: url_for(create_xray_report_path)) do |form| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
        <% report.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :label %>
    <%= form.text_field :label %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :paitent_id %>
  </div>

  <div class="field">
    <%= form.label :doctor_id %>
    <%= form.text_field :doctor_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>