

<div style = "position:relative; left:100px; top:50px; background:rgba(1, 1, 1, 0.68); padding: 100px 400px;">


<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @report.label %>
</p>

<p>
  <strong>Date:</strong>
  <%= @report.date %>
</p>

<p>
<strong>XRay:</strong>
  <%= image_tag url_for(@report.x_ray.image.variant(resize: "500x500")) %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @report.doctor_id %>
</p>
<%= @report.x_ray.id %>
<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
</div>