<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @report.label %>
</p>

<p>
  <strong>Date:</strong>
  <%= @report.date %>
</p>

<p>
  <strong>Paitent:</strong>
  <%= @report.paitent_id %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @report.doctor_id %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
