<!DOCTYPE html>
<style>
  body {
      overflow-x: hidden;
  }
  
  #sidebar-wrapper {
      min-height: 100vh;
      margin-left: -15rem;
      -webkit-transition: margin .25s ease-out;
      -moz-transition: margin .25s ease-out;
      -o-transition: margin .25s ease-out;
      transition: margin .25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
      padding: 0.875rem 1.25rem;
      font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
      width: 15rem;
  }
  
  #page-content-wrapper {
      min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
      margin-left: 0;
  }
  
  @media (min-width: 768px) {
      #sidebar-wrapper {
          margin-left: 0;
      }
  
      #page-content-wrapper {
          min-width: 0;
          width: 100%;
      }
  
      #wrapper.toggled #sidebar-wrapper {
          margin-left: -15rem;
      }
  }
</style>
<body>
  <div class="d-flex" id="wrapper">
    <div class="border-right bg-dark" id="sidebar-wrapper">
      <div class="list-group list-group-flush">
        <% if doctor_signed_in? %>
          <%= link_to "AcuScan" , root_path , class: "list-group-item list-group-item-action bg-light btn"%>
          <%= link_to "Account" , edit_doctor_registration_path , class: "list-group-item list-group-item-action bg-light btn"%>
          <%= link_to "X_rays" , x_rays_path , class: "list-group-item list-group-item-action bg-light btn"%>
          <%= link_to "AcuScan" , root_path , class: "list-group-item list-group-item-action bg-light btn" %>
          <%= link_to "Doctor Logout",  destroy_doctor_session_path , method: :delete, class: "list-group-item list-group-item-action bg-light btn" %>
        <% elsif admin_signed_in? %>
          <%= link_to "AcuScan" , root_path , class: "list-group-item list-group-item-action bg-light btn"%></b>
        <%= link_to "Account" , '', class: "list-group-item list-group-item-action bg-light btn" %></b>
      <%= link_to "AcuScan" , root_path , class: "list-group-item list-group-item-action bg-light btn"%></b>
    <%= link_to "AcuScan" , root_path , class: "list-group-item list-group-item-action bg-light btn"%></b>
  <%= link_to "Admin Logout",  destroy_admin_session_path , method: :delete, class: "list-group-item list-group-item-action bg-light btn" %>
<% elsif (receptionest_signed_in?) %>
  <%= link_to "AcuScan" , root_path , class: "list-group-item list-group-item-action bg-light btn"%>
  <%= link_to "Account" , edit_receptionest_registration_path , class: "list-group-item list-group-item-action bg-light btn"%>
  <%= link_to "New Paitent" , new_paitent_path , class: "list-group-item list-group-item-action bg-light btn" %>
  <%= link_to "New Vist",  new_vist_path , class: "list-group-item list-group-item-action bg-light btn" %>
  <%= link_to "Receptionest Logout", destroy_receptionest_session_path , method: :delete,  class: "list-group-item list-group-item-action bg-light btn" %>
<% elsif (technician_signed_in?) %>
  <%= link_to "AcuScan" , root_path , class: "list-group-item list-group-item-action bg-light btn"%>
  <%= link_to "Account" , edit_technician_registration_path , class: "list-group-item list-group-item-action bg-light btn"%>
  <%= link_to "New X_Ray" , new_x_ray_path , class: "list-group-item list-group-item-action bg-light btn"%>
  <%=link_to "Technician Logout" , destroy_technician_session_path , method: :delete,  class: "list-group-item list-group-item-action bg-light btn" %>
<% else %>
  <b class="list-group-item list-group-item-action bg-dark"> You ARE</b>
  <li>
    <%= link_to "Doctor", new_doctor_session_path  , class: "list-group-item list-group-item-action bg-light btn"%>
  </li>
  <li >
    <%= link_to "Reception", new_receptionest_session_path , class: "list-group-item list-group-item-action bg-light btn" %>
  </li>
  <li >
    <%= link_to "Techntion", new_technician_session_path , class: "list-group-item list-group-item-action bg-light btn" %>
  </li>
  <li >
    <%= link_to "Admin", new_admin_session_path , class: "list-group-item list-group-item-action bg-light btn" %>
  </li>
<% end %>
</div>
</div>
</body>
