<!DOCTYPE html>

<style>
    body {
        overflow-x: hidden;
    }

    #sidebar-wrapper {
        min-height: 100vh;
        margin-left: -15rem;
        -webkit-transition: margin .25s ease-out;
        -moz-transition: margin .25s ease-out;
        -o-transition: margin .25s ease-out;
        transition: margin .25s ease-out;
    }

    #sidebar-wrapper .sidebar-heading {
        padding: 0.875rem 1.25rem;
        font-size: 1.2rem;
    }

    #sidebar-wrapper .list-group {
        width: 15rem;
    }

    #page-content-wrapper {
        min-width: 100vw;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: 0;
    }

    @media (min-width: 768px) {
        #sidebar-wrapper {
            margin-left: 0;
        }

        #page-content-wrapper {
            min-width: 0;
            width: 100%;
        }

        #wrapper.toggled #sidebar-wrapper {
            margin-left: -15rem;
        }
    }
</style>

<body>
    <div class="d-flex" id="wrapper">
        <div class="border-right bg-dark" id="sidebar-wrapper">
            <div class="list-group list-group-flush">
                <% if doctor_signed_in? %>
                <b class="list-group-item list-group-item-action bg-light"><%= link_to "AcuScan" , root_path %></b>
                <b class="list-group-item list-group-item-action bg-light"><%= link_to "Account" , '' %></b>
                <b class="list-group-item list-group-item-action bg-light"><%= link_to "AcuScan" , root_path %></b>
                <b class="list-group-item list-group-item-action bg-light"><%= link_to "AcuScan" , root_path %></b>
                <%= link_to "Doc Logout",  destroy_doctor_session_path , method: :delete, class: "nav-link" %>
                <% elsif admin_signed_in? %>
                <b class="list-group-item list-group-item-action bg-light"><%= link_to "AcuScan" , root_path %></b>
                <b class="list-group-item list-group-item-action bg-light"><%= link_to "Account" , '' %></b>
                <b class="list-group-item list-group-item-action bg-light"><%= link_to "AcuScan" , root_path %></b>
                <b class="list-group-item list-group-item-action bg-light"><%= link_to "AcuScan" , root_path %></b>
                <%= link_to "admin Logout",  destroy_admin_session_path , method: :delete, class: "nav-link" %>
                <% elsif (receptionest_signed_in?) %>
                <b class="list-group-item list-group-item-action bg-light"><%= link_to "AcuScan" , root_path %></b>
                <b class="list-group-item list-group-item-action bg-light"><%= link_to "Account" , '' %></b>
                <b class="list-group-item list-group-item-action bg-light"><%= link_to "AcuScan" , root_path %></b>
                <b class="list-group-item list-group-item-action bg-light"><%= link_to "AcuScan" , root_path %></b>
                <%= link_to "REC Logout", destroy_receptionest_session_path , method: :delete, class: "nav-link" %>
                <% elsif (technician_signed_in?) %>
                <b class="list-group-item list-group-item-action bg-light"><%= link_to "AcuScan" , root_path %></b>
                <b class="list-group-item list-group-item-action bg-light"><%= link_to "Account" , '' %></b>
                <b class="list-group-item list-group-item-action bg-light"><%= link_to "AcuScan" , root_path %></b>
                <b class="list-group-item list-group-item-action bg-light"><%= link_to "AcuScan" , root_path %></b>
                <%=link_to "TEch Logout" , destroy_technician_session_path , method: :delete, class: "nav-link" %>
                <% else %>
                <b class="list-group-item list-group-item-action bg-dark"></b>

                <li class="list-group-item list-group-item-action bg-light">
                    <%= link_to "Doctor", new_doctor_session_path  %>
                </li>
                <li class="list-group-item list-group-item-action bg-light">
                    <%= link_to "reception", new_receptionest_session_path  %>
                </li>
                <li class="list-group-item list-group-item-action bg-light">
                    <%= link_to "techntion", new_technician_session_path  %>
                </li>
                <li class="list-group-item list-group-item-action bg-light">
                    <%= link_to "admin", new_admin_session_path  %>
                </li>
                <% end %>
            </div>
        </div>
</body>